#textWall div .textTime{
    font-size: 0.7em;
    text-align: right;
    width: 100%;
    margin: 0;
}
#mezzage{
    max-width: 650px;
    background-color: lightblue;
    padding: 2%;
    clear: left;
    margin: 0 auto;
    text-align: right;
    font-size: 1.2em;
}
#mezzage h2{
    text-align: center;
    margin-top: 0;
    font-size: 1.8em;
    color: darkblue;
}
.red{
    color: red;
}
#abutton{
    width: 20%;
    height: 30px;
    font-size: 1em;
    font-family: inherit;    
}
#mezzage textarea{
    width: 100%;
    font-family: inherit;
    font-size: inherit;
}
#theField{
    background-color: white;
    padding: 2%;
}
#textWall div {
    padding: 0 1%;
    margin-bottom: 5px;
    background-color: lightgreen;
    text-align: left;
    border: 1px solid green;
    box-shadow: 0 0 5px green;
    float: left;
    width: 98%;
}
#textWall div p{
    margin: 10px 0 0 0;
    float: left;
    width: 86%;
}
#textWall div a{
    float: left;
    width: 5%;
    margin: 7px 0 0 2%;
}