article, aside, figure, footer, header, hgroup,
menu, nav, section{ 
    display: block; 
}
body{
	margin: 0;
	padding: 0;
    background-image: url(../pictures/background.jpg);
}
.displayer{
    position: absolute;
    top: 30px;
    left: 400px;
    padding: 0 0 10px 0;
    background-color: rgba(0,0,0,0.6);
    color: white;
}
.displayer a{
    float: right;
}
footer img{
    width: 100%;
    height: auto;
    border: 0;
}
main{
    width: 100%;
    height: 200px;
    float: left;
}
footer{
    width: 100%;
    height: 50px;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    bottom: 0;
}
footer a{
    width: 50px;
    height: 50px;
    float: left;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
footer a:hover{
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    background: radial-gradient(ellipse at center,  lightgreen 30%, transparent 60%);    
}
.aWindow{
    width: 345px;
    height: 400px;
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: rgba(255,255,255,0.6);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.aWindowSmall{
    width: 60px;
    height: 60px;
    overflow: hidden;
    position: fixed;
    left: 150px;
    bottom: -30px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 1;
    cursor: pointer;
}
.windowTop img{
    width: 40px;
    float: left;
}
.windowTop{
    width: 100%;
    height: 40px;
    background-color: rgba(0,0,0,0.8);
    color: white;
}
.windowTop p{
    float: left;
    margin-top: 8px;
}
.minimize, .close{
    text-align: center;
    float: left;
    width: 30px;
    height: 12px;
    padding: 0 0 16px 0;
    border: 1px solid black;
    font-size: 1.2em;
    text-decoration: none;
}
.minimize:hover, .close:hover{
    background-color: red;
    cursor: pointer;
}
.minimize{
    margin-left: 153px;
}
.windowBody{
    height: 320px;
    width: 335px;
    padding-left: 10px;
    float: left;
    overflow: scroll;
}
.windowBody div{
    margin: 10px 10px 10px 0;
    padding: 10px;
    text-align: center;
    background-color: rgba(0,0,0,0.8);
    float: left;
}
.windowBody div:hover{
    cursor: pointer;
}
.windowBottom{
    height: 36px;
    width: 100%;
    float: left;
    background-color: rgba(0,0,0,0.8);
    color: white;
    
}
.windowBottom p{
    margin-top: 0;
}





