article, aside, figure, footer, header, hgroup,
menu, nav, section{ 
    display: block; 
}

.wrappingDiv {
    width: 96%;
    text-align: center;
}
.memory{
    padding-left: 13%;
}
.smallMemory{
    margin-left: 23%;
}
.memory a{
    display: block;
    float: left;
    margin: 0 4% 0 0;
}
.memory img{
    width: 50px;
}
.bigMemory :nth-child(4n+5){
    clear: left;
}
.smallMemory :nth-child(2n+3){
    clear: left;
}
.big, .small{
    font-family: inherit;
    font-size: 20px;
    width: 100px;
    margin: 2% 1%;
}
.big:hover, .small:hover{
    cursor: pointer;
}

body{
	margin: 0;
	padding: 0;
    background-image: url(../pictures/background.jpg);
}
footer img{
    width: 100%;
    height: auto;
    border: 0;
}
main{
    width: 100%;
    height: 200px;
    float: left;
}
footer{
    width: 100%;
    height: 50px;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    bottom: 0;
}
footer a{
    width: 50px;
    height: 50px;
    float: left;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
footer a:hover{
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    background: radial-gradient(ellipse at center,  lightgreen 30%, transparent 60%);    
}
#focused{
    z-index: 5;
}
.aWindow{
    position: absolute;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.aWindowSmall{
    overflow: hidden;
    position: fixed;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 1;
    cursor: pointer;
}
.aWindowSmall .windowTop img{
    width: 60px;
}
.windowTop img{
    width: 30px;
    float: left;
}
.windowTop{
    width: 100%;
    height: 30px;
    background-color: rgba(0,0,0,0.8);
    color: white;
}
.windowTop p{
    float: left;
    margin-top: 5px;
    margin-bottom: 0;
}
.minimize, .close{
    text-align: center;
    float: right;
    width: 30px;
    height: 12px;
    padding: 0 0 16px 0;
    border: 1px solid black;
    font-size: 1.2em;
    text-decoration: none;
}
.minimize:hover, .close:hover{
    background-color: red;
    cursor: pointer;
}
.windowBody{
    width: 96%;
    background-color: rgba(255,255,255,0.6);
    height: 100%;
    padding-left: 4%;
    float: left;
    overflow: scroll;
}
.imgBox{
    margin: 4% 4% 0 0;
    padding: 10px;
    text-align: center;
    background-color: rgba(0,0,0,0.8);
    float: left;
}
.imgBox:hover{
    cursor: pointer;
}
.windowBottom{
    height: 30px;
    width: 96%;
    padding-left: 4%;
    float: left;
    background-color: rgba(0,0,0,0.8);
    color: white;
}
.windowBottom img{
    margin-top: 6px;
}





